{% extends "base.html" %}

{% block title %}
    Denied messages
{% endblock %}

{% block headertext %}
    Geweigerde berichten
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Message</th>
                <th scope="col">Full name</th>
                <th scope="col">Posted on</th>
                <th scope="col">Station</th>
                <th scope="col">Moderated by</th>
                <th scope="col">Moderated on</th>
                <th scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for message in object_list %}
                <tr>
                    <td>{{ message.message }}</td>
                    <td>{{ message.fullname }}</td>
                    <td>{{ message.post_datetime }}</td>
                    <td>{{ message.station_fk }}</td>
                    <td>{{ message.moderated_by_fk.username }}</td>
                    <td>{{ message.moderation_datetime }}</td>
                    <td>{{ message.comment }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    <a href="{% url 'moderate' %}">Terug naar modereren</a>
{% endblock %}