{% extends "base.html" %}

{% block title %}
    Welkom op {{ station }}!
{% endblock %}

{% block headertext %}
    Welkom op {{ station }}!
{% endblock %}

{% block content %}
    <div class="container bg-white">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0">
                    {% if object_list %}
                        {% for message in object_list %}
                            <div class="card-body shadow mb-5" style="border-radius: 25px">
                                <p class="text-primary"><strong>{{ message.fullname }} @{{ message.station_fk }}</strong></p>
                                <p>{{ message.message }}</p>
                                <p>{{ message.post_datetime }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="card border-0">
                            <div class="card-body shadow mb-5" style="border-radius: 25px">
                                <div class="d-flex justify-content-between pb-2">
                                    <div>
                                        <h2 class="display-2"><strong>{{ weather.main.temp|floatformat:1 }}°C</strong></h2>
                                        <p class="text-muted mb-0">{{ weather.main.feels_like|floatformat:1 }}</p>
                                        <p class="text-muted mb-0">{{ weather.weather.0.main }}</p>
                                        <p class="mb-0">{{ station.city }}</p>
                                    </div>
                                    <div>
                                        <img src="http://openweathermap.org/img/wn/{{ weather.weather.0.icon }}@2x.png" width="150px">
                                    </div>
                                </div>
                            </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}