{% extends "base.html" %}
{% load widget_tweaks %}

{% block headertext %}
    {% if message %}
        Modereren
    {% else %}
        Er zijn op dit moment geen berichten om te modereren, kom later terug!
    {% endif %}
{% endblock %}

{% block content %}
    {% if message %}
        <div class="container bg-white">
            <div class="row">
                <div class="">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <h5 class="card-title mb-0">{{ message.fullname }} @{{ message.station_fk }}</h5>
                            <div class="card-text text-black-50">{{ message.message }}</div><br>
                            <div class="card-text text-black-50">{{ message.post_datetime }}</div>
                            <hr>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        {{ form.status|add_label_class:"input-group-text" }}
                                    </div>
                                    {{ form.status|add_class:"custom-text" }}
                                </div>
                                <input type="submit" value="Oké">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <br><a href="{% url 'denied' %}">Naar geweigerde berichten.</a>
{% endblock %}